body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	
}

header {

}

main {
	flex: 1 0 auto;
	
}

h1 {
	margin: 0 !important;
}

.intro {
	min-height: 100vh;
	background-color: #ff69b4;
}

.hidiv {
	position: absolute;
	top: 20%;
	text-align: center;
	width: 100%;
	/*top :0;*/
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#hi {
	opacity: 0;
	color: white;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

.touchdiv {
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
	/*top :0;*/
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#touch {
	opacity: 0;
	color: white;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 4s;
	-webkit-animation-iteration-count: 1;
}

.unicorndiv {
	position: absolute;
	top: 60%;
	text-align: center;
	width: 100%;
	/*top :0;*/
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#unicorn {
	opacity: 0;
	height: 150px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 6s;
	-webkit-animation-iteration-count: 1;
}

.bday {
	min-height: 100vh;
	background: url(../images/balloons.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.opacity1 {
	opacity: 1 !important;
}

